$backgroundColor:white;
$menuBackgroundColor:rgba(130, 130, 130, 0.5);
$langBackgroundColor:#4F4F4F;

$themeColor:#ffcc00;
$themeFadeColor:#dcc052;
$themeFadeRgbaColor:rgba(220, 192, 82, 0.7);

$subNavBackgroundColor:rgba(226, 210, 138, 0.5);

$footerBackgroundColor:#e5e5e5;