@import '_variables/_color';

@import '_partails/_header';
@import '_partails/_footer';

@import '_pages/_index';
@import '_pages/_new_index';
@import '_pages/_auction_preview';
@import '_pages/_asa_preview';
@import '_pages/_online_index';
@import '_pages/_artwork_show';


html body{
  	font-size: 16px;
  	font-family: "Microsoft Yahei";
  	p {
  		
  	}
  	h1 {
  		font-size:40px;
  	}
}

#newIndex, #newShow, #auctionPreview, #asaPreview, #onlineIndex, #artworkShow{
	padding-top: 50px;
	.sub-nav {
		padding: 7px 0px;
		background-color: $subNavBackgroundColor;
		.breadcrumb {
			margin: 0px;
			margin-left: -15px;
			background-color: inherit;
			li {
				&:before{
					content: '';
				}
				a {
					color:black;
					text-decoration: none;
					&:hover {
						color:$themeHoverColor;
					}
				}
				
			}
		}
	}
}


#newIndex, #newShow {
	.left-menu {
			min-height: 567px;
			padding: 0;
			padding-top: 15px;
			margin: 0px;
			background: url('/imgs/left-menu-bg.png') no-repeat;
			li {
				list-style-type: none;
				a {
					display: block;
					padding: 10px 0px;
					margin: 20px 25px;
					text-decoration: none;
					color: #333;
					&:hover {
						color:#F3D578;
					}
				}
				&.active {
					border-right: 5px solid $themeColor;
					a {
						font-size: 18px;
						font-weight: bolder;
						color: #000;
					}
				}
			}
	}
	.content {
		padding: 30px;
		h1 {
			margin-bottom: 50px;
		}
		.data {
			color: $themeColor;
			width: 150px;
			z-index: 10px;
		}
	}
}

#auctionPreview, #asaPreview {
	.left-menu {
		padding-right: 50px;
		h1 ,h1 a{
			color:$themeFontColor;
			text-decoration: none;
		}
		>ul {
			padding: 0;
			margin: 0;
			padding-bottom: 50px;
			>li {
				list-style-type: none;
				h4 {
					color: $themeFontColor;
				}
				>div {
					h3 {
						color: $themeFontColor;
					}
					>ul {
						padding: 0;
						margin: 0;
						>li {
							list-style-type: none;
							text-align: right;
							padding: 10px 0;
							a {
								text-decoration: none;
								color: #999;
								padding: 5px 0px;
								padding-right: 20px;
								display: block;
								&:hover {
									color:$themeFontColor;
								}
							}
						}

					}
				}
			}

		}
		.active {
			/*border-right: 5px solid $themeFontColor;*/
			a {
				border-right: 5px solid $themeColor;
				font-size: 18px;
				font-weight: bolder;
				color: black;
			}
		}
	}

}

hr {
	border: 1px solid #eee;
}

.container .content{
	min-height:700px;
}

.hb-btn {
	color: #6F6100;
	display: inline-block;
	padding: 9.5px 30px;
	background-image: url(/imgs/button-bg.png);
	text-decoration: none;
	&:active {
		text-decoration: none;
	}
	&:hover, &:active, &:visited{
		color: #6F6100;
		background-image: url(/imgs/button-hover-bg.png);
		text-decoration: none;
	}
}

article {
	text-indent: 2em;
}


div.productList {
	>div {
		margin-bottom: 30px;
		a {
			width: 100%;
			display: inline-block;
			text-decoration: none;
			color: #999;
			img {
				width: 100%;
				min-height: 230px;
				height: 230px;
			}
			div{
				padding-top: 20px;
				border: 3px solid #eee;
				border-top: 0px;
				p {
					padding-left: 15px;
				}
			}
		}
		>div {
			display: none;
			padding-top: 10px;
			position: absolute;
			top: 39%;
			width: 89%;
			background-color:  rgba(0, 0, 0, 0.2);
			p {
				padding-left: 15px;
				color: white;
			}
		}
		&:hover {
			.info {
				display: block;
			}
		};
	}
}