@import '_variables/_color';

@import '_partails/_header';
@import '_partails/_footer';

@import '_pages/_index';
@import '_pages/_new_index';
@import '_pages/_auction_preview';

html body{
  	font-size: 16px;
  	font-family: "Microsoft Yahei";
  	p {
  		
  	}
  	h1 {
  		font-size:40px;
  	}
}

#newIndex, #newShow, #auctionPreview {
	padding-top: 50px;
	.sub-nav {
		padding: 7px 0px;
		background-color: $subNavBackgroundColor;
		.breadcrumb {
			margin: 0px;
			background-color: inherit;
			li {
				&:before{
					content: '';
				}
				a {
					color:black;
					text-decoration: none;
				}
				
			}
		}
	}
}
#newIndex, #newShow {
	.left-menu {
			min-height: 567px;
			padding: 0;
			padding-top: 15px;
			margin: 0px;
			background: url('/imgs/left-menu-bg.png') no-repeat;
			li {
				list-style-type: none;
				a {
					display: block;
					padding: 10px 0px;
					margin: 20px 30px;
					text-decoration: none;
					color: #333;
					&:hover {
						color:#F3D578;
					}
				}
				&.active {
					border-right: 5px solid $themeColor;
					a {
						font-size: 18px;
						font-weight: bolder;
						color: #000;
					}
				}
			}
	}
	.content {
		h1 {
			margin-bottom: 50px;
		}
		.data {
			color: $themeColor;
			width: 150px;
			z-index: 10px;
		}
	}
}