footer {
	.description {
		padding: 30px 0px;
		border-bottom: 5px solid $themeColor;
		background-color: $footerBackgroundColor;
		ul {
			padding: 0px;
			li {
				padding: 15px 0;
				padding-right: 5%;
				display: inline-block;
				a {
					color: black;
					&:link {
						text-decoration: underline;
					}
				}
			}
			li.last {
				padding: 0px;
				float: right;
			}
			.wx {
				display: inline-block;
				.wx-code {
					display: none;
				}
				&:hover {
					cursor:pointer;
					.wx-code {
						padding: 5px;
						display: block;
						border: 2px solid #999;
						position: fixed;
						bottom: 22%;
						right: 22%;
						z-index: 10;
						background-color: white;
					}
				}
				
			}
		}
	}
	.copy {
		padding: 15px 0;
		img {
			float: right;
		}
	}
	.goto-top {
		right: 5%;
		bottom: 10%;
		position: fixed;
		a.hover {
			display:none;
		}
		&:hover {
			a.default{
				display:none;
			}
			a.hover {
				display:block;
			}
		}
	}
}