header {
	nav.navbar-logo {
		padding: 15px 0;
		margin: 0px;
		background-color:$backgroundColor!important;
		.navbar-header .navbar-brand {
			padding-top: 0px;
			img {
				display: inline-block;
			}
			.logo {
			}
			.logo-text {
			}
		}
		form .input-group-addon{
			background: $themeColor;
		}
	}
	nav.navbar-menu {
		position: absolute;
  		z-index: 10;
		width: 100%;
		margin: 0px;
		border: 0px;
		background-color: $menuBackgroundColor!important;
		ul.nav >li {
			padding-right: 30px;
			&:hover {
				>a {
					background-color: $themeFadeRgbaColor!important;
					padding-bottom: 10px;
					border-bottom: 5px solid $themeColor;
				}
			}
			a {
				padding-top: 10px + 5px;
				color: white!important;
				padding-bottom: 10px + 5px;
				&:hover{
					background-color: $themeFadeRgbaColor!important;
					padding-bottom: 10px;
					border-bottom: 5px solid $themeColor;
				}
			}
			&.active a{
				background-color: inherit!important;
  				border-bottom: 5px solid $themeColor;
  				padding-bottom: 10px;
			}
			&.dropdown:hover .dropdown-menu {
			    display: block;
			}
			&.dropdown .dropdown-menu {
				min-width: 103px;
				border: 0px;
				padding:0px;
				background-color: $themeFadeRgbaColor!important;
				a:hover {
					padding-bottom: 15px;
					border: none;
				}
			}
		}
	}
}