header {
	nav.navbar-logo {
		padding: 15px 0;
		margin: 0px;
		background-color:$backgroundColor!important;
		.navbar-header .navbar-brand {
			padding-top: 0px;
			img {
				display: inline-block;
			}
			.logo {
			}
			.logo-text {
			}
		}
		form {
			padding: 0;
			.input-group-addon{
				background: $themeColor;
			}
		}
	}
	nav.navbar-menu {
		position: absolute;
  		z-index: 10;
		width: 100%;
		margin: 0px;
		border: 0px;
		background-color: $menuBackgroundColor!important;
		ul.navbar-left >li {
			padding-right: 30px;
			&:hover {
				>a {
					background-color: $themeFadeRgbaColor!important;
					padding-bottom: 10px;
					border-bottom: 5px solid $themeColor;
				}
			}
			a {
				padding-top: 10px + 5px;
				color: white!important;
				padding-bottom: 10px + 5px;
				&:hover{
					background-color: $themeFadeRgbaColor!important;
					padding-bottom: 10px;
					border-bottom: 5px solid $themeColor;
				}
			}
			&.active a{
				background-color: inherit!important;
  				border-bottom: 5px solid $themeColor;
  				padding-bottom: 10px;
			}
			&.dropdown:hover .dropdown-menu {
			    display: block;
			}
			&.dropdown .dropdown-menu {
				min-width: 114px;
				border: 0px;
				padding:0px;
				background-color: $themeFadeRgbaColor!important;
				a:hover {
					padding-bottom: 15px;
					border: none;
				}
			}
		}
		ul.navbar-right {
			padding-right: 15px;
			li {
				color: $themeColor;
				a {
					font-size: 12px;
					padding: 3px 0px;
					margin: 12px 10px;
					color: $themeColor;
					display: inline-block;
					&:hover{
						color:white;
					}
					&.active {
						background-color: inherit!important;
						padding: 3px 15px;
						margin: 12px 0;
						border-radius: 5px;
						color: white;
						background-color: $langBackgroundColor!important;
						&:hover{
							color:white;
						}
					}
				}
			}
			
		}
	}
}