#artworkShow {
	.content {
		margin-top: 30px;
		margin-bottom: 30px;
		.carousel {
			img {
				width: 100%;
				&:hover {
					cursor:url('/imgs/wx.gif'),auto;
				}
			}
			.left.carousel-control {
				background-image: inherit;
				left: -15%;
			}
			.right.carousel-control {
				background-image: inherit;
				right: -12%;
			}
			a .fa {
				position: absolute;
				top: 50%;
				z-index: 5;
				display: inline-block;
				color: #333;
			}
			a span {
				color: #333;
				position: absolute;
				top: 57%;
				z-index: 10;
			}
		}
		.info {
			padding: 30px 0;
			ul {
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					list-style-type: none;
					width: 33.3333%;
					padding: 0 5px;
					float: left;
					img {
						width: 100%;
					}
				}

			}
			div {
				.left.carousel-control {
					width: 5%;
					left: -5%;
					background-image: inherit;
				}
				.right.carousel-control {
					width: 5%;
					right: -2%;
					background-image: inherit;
				}
				a .fa {
					position: absolute;
					top: 35%;
					z-index: 5;
					display: inline-block;
					color: #333;
				}

			}
			div.description {
				h3 {
					text-align: center;
				}
				margin-bottom: 30px;
			}

			div.other-link {
				p {
					text-align: right;
				}
			}
		}
	}
}