#asaPreview {
	.content {
		h1 {
			margin-bottom: 20px;
		}
		p.address {
			span {
				color: #999;
			}
		}
		p.time {
			font-size: 20px;
		}
		ul {
			padding: 10px 0;
			margin: 0;
			li {
				margin-bottom: 10px;
				list-style-type: none;
			}
		}
		h3.goOnline {
			position: absolute;
			right: 15px;
			margin-top: -50px;
			a {
				text-decoration: none;
				color: $themeColor;
			}
		}

		div.productList {
			>div {
				margin-bottom: 30px;
				a {
					width: 100%;
					display: inline-block;
					text-decoration: none;
					color: #999;
					img {
						width: 100%;
						min-height: 230px;
						height: 230px;
					}
					div{
						padding-top: 20px;
						border: 3px solid #eee;
						border-top: 0px;
						p {
							padding-left: 15px;
						}
					}
				}
				>div {
					display: none;
					padding-top: 10px;
					position: absolute;
					top: 39%;
					width: 89%;
					background-color:  rgba(0, 0, 0, 0.2);
					p {
						padding-left: 15px;
						color: white;
					}
				}
				&:hover {
					.info {
						display: block;
					}
				};
			}
		}
	}
}