#auctionPreview {
	.left-menu {
		padding-right: 30px;
		h1 {
			color:$themeColor;
		}
		>ul {
			padding: 0;
			margin: 0;
			li {
				list-style-type: none;
				h4 {
					color: $themeColor;
				}
				>div {
					h3 {
						color: $themeColor;
					}
					>ul {
						padding: 0;
						margin: 0;
						li {
							text-align: right;
							a {
								text-decoration: none;
								color: #999;
								padding: 15px 0px;
								padding-right: 20px;
								display: block;
								&:hover {
									color:$themeColor;
								}
							}
						}
					}
				}
			}
		}
		hr {
			border: 1px solid #eee;
		}
	}
	.content {
		padding-left: 0px;
		margin-top: 20px;
		>div {
			border:1px solid #999;
			>div {
				
			}
		}
	}
}